[submodule "externals/sys_wait_h"]
	path = externals/sys_wait_h
	url = https://github.com/win32ports/sys_wait_h.git
[submodule "externals/mman-win32"]
	path = externals/mman-win32
	url = https://github.com/alitrack/mman-win32.git
[submodule "externals/fcntl_windows"]
	path = externals/fcntl_windows
	url = https://github.com/roydmerkel/fcntl_windows.git
[submodule "externals/fchmod_windows"]
	path = externals/fchmod_windows
	url = https://github.com/roydmerkel/fchmod_windows.git
[submodule "externals/posix_fallocate_windows"]
	path = externals/posix_fallocate_windows
	url = https://github.com/roydmerkel/posix_fallocate_windows.git
[submodule "externals/sysconf_windows"]
	path = externals/sysconf_windows
	url = https://github.com/roydmerkel/sysconf_windows.git
[submodule "externals/pspawn"]
	path = externals/pspawn
	url = https://github.com/roydmerkel/pspawn.git
[submodule "externals/err_windows"]
	path = externals/err_windows
	url = https://github.com/roydmerkel/err_windows.git
[submodule "externals/env_windows"]
	path = externals/env_windows
	url = https://github.com/roydmerkel/env_windows.git
